.emoji-panel {
  width: 100px;
  height: 250px;
  border: 1px solid black;
  margin: 0 20px;
  float: top;
  text-overflow: clip;
  text-align: center;
  overflow: auto;
}

.emoji-panel > span {
  cursor: pointer;
}
